<h1>Update Record Label Name</h1>

<form class="" method="post" {{action "updateRecordLabel" model on="submit"}}>
  {{input type="text" placeholder= "Update Record Label" value=model.name}}
  {{input type="submit" value="Update"}}
</form><button {{action 'destroyRecordLabel' model}}>X</button>

<h1>Record Label Artists Signed</h1>

{{#each model.artists as |artist|}}
  <li>
  	{{artist.name}}
  </li>
{{/each}}

{{outlet}}